html, body, #root {
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
}

@-webkit-keyframes slide-left-to-center {
	to {
		left: 0;
	}
}
@keyframes slide-left-to-center {
	to {
		left: 0;
	}
}

@-webkit-keyframes slide-right-to-center {
	to {
		right: 0;
	}
}
@keyframes slide-right-to-center {
	to {
		right: 0;
	}
}

@-webkit-keyframes slide-top-to-center {
	to {
		top: 0;
	}
}
@keyframes slide-top-to-center {
	to {
		top: 0;
	}
}

@-webkit-keyframes slide-bottom-to-center {
	to {
		bottom: 0;
	}
}
@keyframes slide-bottom-to-center {
	to {
		bottom: 0;
	}
}